<% include ../partials/header %>


<div class="container">
 <div class="row">
  <div class="col-md-3">
   <p class="lead">Warrios Z</p>
   <div class="list-group">
    <li class="list-group-item active"> Info-1 </li>
    <li class="list-group-item">Info-2 </li>
    <li class="list-group-item"> Info-3</li>
    </div>
  </div>
  <div class="col-md-9">
   <div class="thumbnail">
   <img class="image-responsive" src="<%= anime.image %>">
   <div class="caption-full">
    <h4 class="pull-right"> <%= anime.rating %></h4>
    <h4><a> <%= anime.name %></a></h4>
    <p>
  <%= anime.description %></p>
  <p>
    Created by : <strong><%=  anime.author.userName %></strong></p>
    <% if( currentUser && anime.author.id.equals(currentUser._id)) { %>
    <a class="btn btn-xs btn-warning" href="/animes/<%= anime._id %>/edit"> Edit</a>
    <form id="delete-form" action="/animes/<%= anime._id %>?_method=DELETE" method="POST">
		<button class="btn btn-xs btn-danger" type="submit" >Delete</button>
	</form>
  <% }%>

   </div>
   </div>
   <div class="well">
   <div class="text-right">
     <a class="btn btn-success" href="/animes/<%= anime._id %>/comments/new"> Add new comment</a>
    </div>
     <hr>

   <% anime.comments.forEach (function (comment){ %>
   <div class ="row">
    <div class ="col-md-12">
     <%= comment.author.userName %>
   <span class="pull-right"> 10 days ago </span>
   <% if( currentUser && comment.author.id.equals(currentUser._id)) { %>
   <a class="btn btn-xs btn-warning" 
   href="/animes/<%= anime._id %>/comments/<%= comment._id %>/edit"> Edit</a>
    <form id="delete-form" action="/animes/<%= anime._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
    <button class="btn btn-xs btn-danger" type="submit" >Delete</button>
  </form>
  <% }%>
   <p><%=comment.text %> </p>
   </div>
   </div>
    <% }) %>
   </div>
    </div>
  </div>
  </div>
 </div>
 



 
    <% include ../partials/footer %>
   
  </p>